@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta Nomos */
:root{
  --ink: #021e19;
  --lime: #c8e05b;
  --paper: #f4ece6;
  --gray: #a6a797;
}

html, body {
  background: var(--paper);
}

/* Evita tooltip do Recharts ficar atrás de outros elementos */
.recharts-tooltip-wrapper {
  z-index: 40;
}
